html,
body {
  height: 100%;
  overflow: hidden;
}
html .main,
body .main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .main .mainContent,
body .main .mainContent {
  width: 100%;
  min-height: 106.6667vw;
  height: auto;
  margin-top: 16.2667vw;
  padding-left: 1.3333vw;
  padding-right: 1.3333vw;
  box-sizing: border-box;
}
html .main .shore_btn,
body .main .shore_btn {
  width: 69.3333vw;
  height: 10.4vw;
  background: #3396fb;
  border-radius: 2.1333vw;
  text-align: center;
  line-height: 10.4vw;
  font-size: 4.2667vw;
  font-family: OPPOSans;
  font-weight: 400;
  color: #ffffff;
  position: fixed;
  left: 15.3333vw;
  bottom: 16.8vw;
}
